services:
  stream:
    build:
      context: .
      dockerfile: beam-stream/Containerfile
    environment:
      BIND_ADDRESS: 0.0.0.0:3000
      SERVER_URL: http://localhost:3000
      RUST_LOG: beam_stream=info,tower_http=debug,axum=debug
      VIDEO_DIR: /videos
      CACHE_DIR: /cache
    ports:
      - "3000:3000"
    volumes:
      - ./beam-stream/videos:/videos
      - ./beam-stream/cache:/cache
    healthcheck:
      # Healthcheck that respects the PORT environment variable
      test:
        [
          "CMD",
          "sh",
          "-c",
          "curl -f -k https://localhost:$$PORT/health || exit 1",
        ]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
      # To disable healthcheck, use:
      # disable: true
  web:
    build:
      context: .
      dockerfile: beam-web/Containerfile
    image: localhost/justin13888/beam-web:latest
    ports:
      - "8080:80"
    depends_on:
      - stream
# TODO: Add other dependencies (e.g. envoy reverse proxy, database and env vars)
